@charset "UTF-8";

:root {
	--Green: hsl(75, 94%, 57%);
	--White: hsl(0, 0%, 100%);

	--Grey700: hsl(0, 0%, 20%);
	--Grey800: hsl(0, 0%, 12%);
	--Grey900: hsl(0, 0%, 8%);
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
